<p class="center">Colores</p>

<ng-container *ngFor="let item of data">

	<div class="grid" (click)="copiar(item.color)">
		<!--{{ item.id }}<br/-->
		<div>{{ item.year }}<br/><br/></div>
		<div class="center">{{ item.name }}<br/></div>
		<div class="center" id="{{ item.color }}">{{ item.color }}</div><br/>
		<div class="right">{{ item.pantone_value }}</div>
	</div>
</ng-container>

<!--div>{{ last }}</div-->
<div *ngIf="paramspage != 0"><a href="colores/?page={{paramspage-1}}">Atras</a></div>

<div *ngIf="last == false"><a href="colores/?page={{paramspage+1}}">Siguiente</a></div>
