p, div{
	font-family: sans-serif
}

.grid{
	background-color: lightgray;
	display: inline-table;
	width: 30%;
	padding:5px;
	border-style: solid;
  	border-color: #ffffff;
  	cursor: pointer;
  	border-radius : 5%;
}

.center{
	text-align: center
}

.right{
	text-align: right
}